*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:sans-serif
}
.fa-star{
    color: rgb(248, 242, 242);
}
.checked{
    color:rgb(68, 0, 255)
}
.container
{
    display: flex;
    flex-direction: row;
}
img {
    border-color: #666 #040505;
        border-radius: 50% 50% 50% 50%;
        border-style: solid;
        border-width: 15px;
        height: 200px;
        width: 200px;
}
.content{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    width: 55%;
    min-height: 100vh;
    padding: 10px,20px;
    background-color: #0d0e0e;
    color: #ebf3f6;
}
.about{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    min-height: 100vh;
    padding: 20px,20px;
    margin: 30px;
}
footer { 
    color: #0b0a0a; 
    height:auto; 
    width: 100%;
    background-color: rgb(225, 223, 223); 
    text-align:center; 
}
.social .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
  }



body{
    background: linear-gradient(45deg, #ebf3f6, #939898, #edb0e4, #fe89c2);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
@keyframes gradient{
    0%{
        background-position: 0%,5%;
    }
    50%{
        background-position: 100%,50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
@media(max-width:900px) {
    .container{
        flex-direction: column;
    }
    .content {
        width: 100%;
      }
}